.account-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: inherit;
    min-height: 100vh;
}

.account-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 40px;
    width: 70%;
    min-height: 100vh;
}

.show-up-anim {
    opacity: 0;
    animation: showUp 0.3s ease-in;
}

.for-vendor-account h3,
.for-customer-account h3 {
    color:white;
}