:root {
    /* ==== Brand Colors ==== */
    --main-color: #FFD600;
    --secondary-color: #FFAB00;
    --accent-color: #00B0FF;

    /* ==== Text & Background ==== */
    --text-color: #1F1F1F;
    --primary-background: #FFFFFF;
    --secondary-background:#cecece;
    --border-color: #E0E0E0;

    /* ==== Status Colors ==== */
    --text-error: #F5004F;
}
